{:min-bb-version "1.0.0"
 :paths ["src" "test"]
 :tasks
 {test
  {:doc "Run unit tests"
   :task (do
           (require 'commons.git-test)
           (require 'commons.config-test)
           (require 'commons.paths-test)
           (require 'commons.tui-test)
           (require 'commons.setup-test)
           (require 'commands.list-test)
           (require 'commons.help-test)
           (require 'commands.config-test)
           (require 'commands.open-test)
           (require 'commands.new-test)
           (require 'commands.setup-test)
           (require 'commons.atomic-test)
           (let [r (clojure.test/run-tests
                     'commons.git-test
                     'commons.config-test
                     'commons.paths-test
                     'commons.tui-test
                     'commons.setup-test
                     'commands.list-test
                     'commons.help-test
                     'commands.config-test
                     'commands.open-test
                     'commands.new-test
                     'commands.setup-test
                     'commons.atomic-test)]
             (when (pos? (+ (:fail r) (:error r)))
               (System/exit 1))))}}}
